/* OVERALL STYLING OF BODY + LOGIN PAGE */
* {
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background: transparent;
  border: transparent;
  color: #ededed;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#WelcomeText {
  color: rgb(138, 177, 180);
}
input {
  width: 90%;
}
button:hover {
  scale: 1.1;
}

.logIn {
  display: flex;
}

.logIn-hide,
.columns {
  display: none;
}

#loginPage input {
  width: 180px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3px;
  font-size: 16px;
  margin: 0 20px 20px 20px;
}

/* STYLING THE COLUMNS */

.view-columns {
  display: flex;
  gap: 10px;
}

#columns h2 {
  text-align: center;
  background: rgb(138, 177, 180);
  color: white;
  margin-top: auto;
}

#columns div {
  border: 2px rgb(138, 177, 180) solid;
  background-color: rgb(159, 207, 210);
  flex: 1;
  width: 220px;
  margin-top: 40px;
}

/* STYLING OF CARDS WITHIN COLUMNS */

.kort {
  width: 99% !important;
  height: 100px;
  border: 1px solid black;
}

.kort h3,
.kort input,
.kort button {
  margin-left: 8px;
}

.kort h3 {
  background-color: rgb(0, 81, 84);
  color: white;
}

.kort input {
  background-color: rgb(255, 255, 255);
}

#input {
  width: 200px;
  height: 30px;
}

/* STYLING OF BUTTONS */

#logout,
#newCardBtn,
#loginBtn {
  height: 30px;
  width: 180px;
  border-radius: 8px;
  background-color: rgb(138, 177, 180);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#newCardBtn,
#logout {
  margin-top: 100px;
}
