* {
  background-color: azure;
  font-family: Arial, Helvetica, sans-serif;
}

.logIn {
  display: flex;
}

.logIn-hide {
  display: none;
}

#loginPage input {
  width: 180px;
  height: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 16px;
}

.columns {
  display: none;
}

.view-columns {
  display: flex;
  gap: 10px;
}

#columns h2 {
  text-align: center;
  background: rgb(138, 177, 180);
  color: white;
}

#columns div {
  border: 2px rgb(138, 177, 180) solid;
  background-color: rgb(159, 207, 210);
  flex: 1;
  width: 220px;
  margin-top: 40px;
}

.kort {
  width: 220px !important;
  height: 100px;
  border: 1px solid black;
}

#input {
  width: 200px;
  height: 30px;
}

#loginBtn {
  height: 30px;
  width: 100px;
  border-radius: 8px;
  background-color: rgb(138, 177, 180);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#newCardBtn {
  height: 30px;
  margin-top: 100px;
  width: 180px;
  border-radius: 8px;
  background-color: rgb(138, 177, 180);
  color: white;
  border: none;
  font-size: 16px;
}

#logout {
  height: 30px;
  margin-top: 100px;
  width: 180px;
  border-radius: 8px;
  background-color: rgb(138, 177, 180);
  color: white;
  border: none;
  font-size: 16px;
}
